.pages {
   background-color: $lightGreen;
   padding: 138px 0;
   @media (max-width: 1112px) {
      padding: 100px 0;
   }
   @media (max-width: 840px) {
      padding: 70px 0;
   }
   @media (max-width: 600px) {
      padding: 55px 0;
   }
   @media (max-width: 500px) {
      padding: 40px 0;
   }
   .container {
      padding: 0;
      max-width: 1440px;
      @media (max-width: 1112px) {
         padding: 0 15px;
      }
   }
   &__inner {
      display: flex;
      justify-content: center;
      gap: 30px;
      align-items: center;
      flex-wrap: wrap;
   }
   &__col {
      position: relative;
      cursor: pointer;
      box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
      @media (max-width: 1112px) {
         width: 35%;
         min-width: 260px;
      }
      &:nth-child(1):hover .pages__title,
      &:nth-child(3):hover .pages__title {
         color: $yellow;
      }
      &:nth-child(2):hover .pages__title {
         color: $green;
      }
      &:hover .pages__img {
         filter: brightness(65%);
      }
   }
   &__img {
      transition: filter 0.2s;
      & img {
         max-width: 100%;
      }
   }
   &__title {
      @include font(700, 2.5rem, 1.4, 0.36px);
      font-family: $robotoFont;
      color: $defaultColor;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%,-50%);
      padding: 30px 79px;
      background-color: $white;
      border-radius: 20px;
      white-space: nowrap;
      transition: color 0.2s;
      @media (max-width: 1112px) {
         padding: 20px 50px;
         font-size: 2rem;
      }
      @media (max-width: 740px) {
         padding: 15px 30px;
         font-size: 1.6rem;
      }
   }
}