footer.footer#contact
   .footer__top
      .container
         .footer__inner
            .footer__contact
               h5.footer__title Contact Us
               .footer__email
                  span Email
                  span
                     a.footer__link(href="mailto:needhelp@organick.com") needhelp@organick.com
               .footer__phone
                  span Phone
                  span
                     a.footer__link(href="tel:12312541452") 123 (1254) 1452
               .footer__address
                  span Address
                  span
                     a.footer__link(href="https://goo.gl/maps/r1D8PiMQRM9Rf31ZA") 88 Road, Brooklyn Street, USA
            .footer__center
               .logo
                  img(src="./images/logo.svg", alt="Logo")
               p.text We are a popular and farming company aspiring to be a leader in the Organic food industry.
               .footer__social
                  a.ico.ico--fb(href="https://ru-ru.facebook.com/")
                  a.ico.ico--tw(href="https://twitter.com/")
                  a.ico.ico--inst(href="https://www.instagram.com/")
                  a.ico.ico--pint(href="https://ru.pinterest.com/")
            .footer__utility
               h5.footer__title Utility Pages
               ul.footer__list
                  li.footer__list--item
                     a.footer__link(href="#") Style Guide
                  li.footer__list--item
                     a.footer__link(href="#") Protected
                  li.footer__list--item
                     a.footer__link(href="#") Page Not Found
                  li.footer__list--item
                     a.footer__link(href="#") Changelog
                  li.footer__list--item
                     a.footer__link(href="#") Licenses

   .footer__bottom
      .container
         iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96847.13241815155!2d-74.09388106582968!3d40.66353463616592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b84595d61fd%3A0xc00ede9005b9a8a5!2zODggQnJvb2tseW4gQXZlLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2sby!4v1682362162694!5m2!1sru!2sby" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")