section.offers
   .container
      .offers__inner
         .offers__top
            .offers__title
               span.subtitle Offer Products
               h3 We Offer Organic For You
            a.btn(href="#")
               span.btn__text View All Products
               span.btn__image


         .offers__list.products
            +product('Vegetable', "./images/product4.png", "product4", 'Vegan Red Tomato', '$ 14.00 USD', '$ 9.37 USD')
            +product('Fruits', "./images/product5.png", "product5", 'Organic Almonds', '$ 21.00 USD', '$ 18.00 USD')
            +product('Vegetable', "./images/product2.png", "product2", 'Fresh Corn', '$ 21.23 USD', '$ 18.00 USD')
            +product('Vegetable', "./images/product1.png", "product1", 'Calabrese Broccoli', '$ 25.00 USD', '$ 21.00 USD')
            +product('Millets', "./images/product3.png", "product3", 'Dried Pistachio', '$ 61.00 USD', '$ 48.00 USD')
            +product('Millets', "./images/product6.png", "product6", 'Brown Hazelnut', '$ 43.00 USD', '$ 34.00 USD')