@keyframes text-focus-in {
   0% {
      filter: blur(12px);
      opacity: 0;
   }
   100% {
      filter: blur(0px);
      opacity: 1;
   }
}
@keyframes wobble-hor-top {
   0%, 100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
   }
   15% {
      transform: translateX(-30px) rotate(6deg);
   }
   30% {
      transform: translateX(15px) rotate(-6deg);
   }
   45% {
      transform: translateX(-15px) rotate(3.6deg);
   }
   60% {
      transform: translateX(9px) rotate(-2.4deg);
   }
   75% {
      transform: translateX(-6px) rotate(1.2deg);
   }
}
@keyframes scenerySize {
   0%, 100% {
      transform: scale(1);
      transform-origin: 50% 85%;
   }
   50% {
      transform: scale(1.5);
      transform-origin: bottom;
   }
}
@keyframes menu {
   0% {
      height: 0%;
   }
   100% {
      height: 100%;
   }
}
