$defaultColor: #274C5B;
$green: #7EB693;
$white: #FFFFFF;
$textColor: #525C60;
$oldPriceColor: #B8B8B8;
$lightGreen: #EFF6F1;
$yellow: #EFD372;

$cursiveFont: 'Yellowtail', cursive;
$robotoFont: 'Roboto', sans-serif;
$openSansFont: 'Open Sans', sans-serif;